<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">

          <!--  TITLE -->
          <span>ALL PRODUCTS</span>
          <!-- BUTTON NEW -->
          <button class="btn btn-success float-end" routerLink="/crear-producto">NEW</button>
          <!-- TABLE -->
          <table class="table table-striped mt-5">
            <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Category</th>
              <th scope="col">Ubication</th>
              <th scope="col">Price</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th>Product1</th>
              <td>Category1</td>
              <td>Ubication1</td>
              <td>Price1</td>
              <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <th>Product2</th>
              <td>Category2</td>
              <td>Ubication2</td>
              <td>Price2</td>
              <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
            <tr>
              <th>Product3</th>
              <td>Category3</td>
              <td>Ubication3</td>
              <td>Price3</td>
              <td>
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
